{{#docs-viewer as |viewer|}}
  {{#viewer.nav as |nav|}}
    {{nav.item "Introduction" "docs.index"}}
    {{nav.item "Installation" "docs.installation"}}
    <div class="docs-mt-6">
      Usage
    </div>
    {{nav.item "Network" "docs.network"}}
    {{nav.item "Data Saver Mode" "docs.savedata"}}
    {{nav.item "Hardware Concurrency" "docs.hardware-concurrency"}}
    {{nav.item "Memory" "docs.memory"}}
  {{/viewer.nav}}

  {{#viewer.main}}
    {{outlet}}
  {{/viewer.main}}
{{/docs-viewer}}
